.exchanges{
    color: #FFFFFF;
    background: repeating-linear-gradient(0deg, #000000, #410256 100%);
    position: relative;
    border: 1px solid #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

.exchange{
    padding: 1rem;
}

.card-exchange {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #000000;
    border-radius: 3%;
}

.card-exchange:hover.active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #5cee7b;
    border-radius: 3%;
    transform: scale(1.1);
}

.card-exchange:hover.in-progress {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #f3dd60;
    border-radius: 3%;
}