body{
    background: radial-gradient(ellipse at bottom, #1b2735 10%, #090a0f 90%);
}

[id] {
    scroll-margin-top: 4em;
 }

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}

.main-info{
    color: #FFFFFF;
    background: repeating-linear-gradient(0deg, #000000, #410256 100%);
    position: relative;
    border: 1px solid #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

.btn-main-info{
    display: flex;
    justify-content: space-between;
}

.get-started-lite{
    color: #FFFFFF;
    background: repeating-linear-gradient(0deg, #000000, #410256 100%);
    position: relative;
    border: 1px solid #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

.get-started-lite-title {
    display: flex;
    justify-content: center;
}

.get-started-lite .row{
    padding-bottom: 2rem;
}

.get-started-lite-item {
    align-content: center;
}

.get-started-lite img {
    max-width: 100%;
    max-height: 15rem;
}

.infochain{
    color: aliceblue;
    font-weight: bold;
    font-size: 1.15rem;
    background: black;
    position: relative;
    z-index: 5;
}

.container-infochain{
    background: repeating-linear-gradient(45deg, #151e29, #00000000 12rem);
}

.footer{
    background: black;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    z-index: 5;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.footer-logo{
    max-width: 80%;
}

.footer-description{
    color: #89adad;
}

.footer-item{
    color: #89adad;
    display: table;
    padding: 0.5rem;
}

.copyright{
    color: #FFFFFF;
    font-weight: bold;
    border-top: solid 2px rgba(255, 255, 255, 0.125);
}

.row-reverse-flex{
    flex-direction: row-reverse;
}

.image-full{
    max-width: 100%;
}

.image-center {
    text-align: center;
}

a.btn-primary-top {
    background-color: #999999;
    border: 2px solid #707070;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    height: 2.9rem;
    line-height: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1rem;
    white-space: nowrap;
    cursor: pointer;
}

a.btn-fixed {
    background: none;
    border: 2px solid #707070;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1rem;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    -moz-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    -o-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    display: inline-block;
    height: 2.9rem;
    line-height: 3rem;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
}

a.btn-fixed:hover {
    background: #999999;
    border: 2px solid #707070;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1rem;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    -moz-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    -o-transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    transition: background .15s ease, transform .15s ease, box-shadow .15s ease;
    display: inline-block;
    height: 2.9rem;
    line-height: 3rem;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
}

span.underlined::after {
    content: " ";
    position: relative;
    display: block;
    width: 100%;
    height: .3125rem;
    border-radius: 1.875rem;
    background: radial-gradient(199.87% 141.42% at 0% 0%, #16d1d6 0%, #274cff 100%), #d9d9d9;
}

@media (max-width: 590px) {
    html{
        margin-right: -10px;
    }

    #inf{
        font-size: 55px !important; 
    }

    .main-info{
        margin-left: 0%;
        margin-right: 0%;  
    }

    .main-info .row {
        flex-direction: column-reverse;
    }

    .btn-main-info{
        flex-direction: column;  
    }

    .btn-primary-top {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    } 
    .get-started-lite{
        margin-left: 0%;
        margin-right: 0%;  
    }   
}

@media (max-width: 991px) {
    html{
        margin-right: -10px;
    }

    #inf{
        font-size: 55px !important; 
    }

    .main-info{
        margin-left: 0%;
        margin-right: 0%;  
    }

    .main-info .row {
        flex-direction: column-reverse;
    }

    .btn-primary-top {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    } 
    .get-started-lite{
        margin-left: 0%;
        margin-right: 0%;  
    }   
}

@media (min-width: 992px) {
    .collapse.navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .nav-item{
        font-size: 1.15rem;
        font-weight: bolder;
        text-align: center;    
    }   
}

@media (min-width: 1590px) {
    .nav-item{
        font-size: 1.25rem;
        font-weight: bolder;
        text-align: center;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

}