.wallets{
    color: #FFFFFF;
    background: repeating-linear-gradient(0deg, #000000, #410256 100%);
    position: relative;
    border: 1px solid #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}
.wallets-title{
    display: flex;
    justify-content: center;
}
.wallets-main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid #21082a;
}

.wallets-main-menu a {
    height: 4.7rem;
    align-items: center;
}

.wallets-main-item{
    display: flex;
    background: #410256;
    color: #FFFFFF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    align-items: flex-start;
    justify-content: center;
}

.wallets-main-item:hover{
    display: flex;
    background: #563202;
    color: #FFFFFF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
}

#infinium-gui-wallet{
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, .08) 0%, rgba(255, 255, 255, .04) 100%);
    border: 1px solid #000000;
}

#infinium-cli-wallet{
    margin-top: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, .08) 0%, rgba(255, 255, 255, .04) 100%);
    border: 1px solid #000000;
}

#mobile-and-light-wallet{
    margin-top: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, .08) 0%, rgba(255, 255, 255, .04) 100%);
    border: 1px solid #000000; 
}

.infinium-wallet-photo{
    text-align: center;
    padding-bottom: 3rem;
}

.infinium-wallet-photo img{
    max-width: 100%;
}

.row.wallets {
    justify-content: center;
}
.target-wallet-align{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.target-wallet{
    display: flex;
    justify-items: center;
    padding: 3rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, .08) 0%, rgba(255, 255, 255, .04) 100%);
    border-radius: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-wallet-align{
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1.25rem;
    color: #fffc;
    line-height: 1.5;
}
.bottom-wallet{
    display: flex;
    color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5%;
}
.bottom-wallet:hover{
    display: flex;
    background: #410256;
    color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid;
}

@media (max-width: 991px) {
    .target-wallet-align{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 480px) {
    .target-wallet-align{
        padding-left: 10%;
        padding-right: 10%;
    }
    .bottom-wallet-align{
        margin-top: 1.25rem;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 1.25rem;
        color: #fffc;
        line-height: 1.5;
        flex-direction: column;
        align-items: center;
    } 
}